@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
  }
  .visit-header {
    font-size: 24px;
    text-align: left; /* or whatever alignment you need */
  }
  
  h1 {
    margin: 20px;
   
  }
  
  img {
    border-radius: 10px;
    
  }
  
  .visit{
    padding-bottom:1.9%;


  }