.App {
    text-align: center;
  }
  
  .App-header {

    background-color: #031432;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  label {
    margin: 20px;
    font-size: 16px;
  }
  
  select {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #61dafb;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  